<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cars</title>
    <style>
        .head{
            text-align: center;
            align-items: center;
            justify-content: center;
            margin: 300px 100px 100px 100px;
            font-size: 25px;
        }
    </style>
</head>
<body>
    <div class="head">
        <h1>The work is in progress...</h1>
        
    </div>
</body>
</html>
